@model Web.Models.Report
<h2>Create ModelName</h2>
<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="FilePath"></label>
        <input asp-for="FilePath" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>
<a asp-action="Index">Back to List</a>
